<p>Edit content of <%= params[:filename] %></p>
<form action="/<%= params[:filename]%>" method="post">
 <textarea name="content" id="content" rows="20" cols="100"><%= @file_content %></textarea>
  <button type="submit">Save changes</button> 
</form>

